* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: #F5F7FB;
}



.yellow-circle {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.blue-circle {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: transparent;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-page>h4 {
  margin-bottom: 0;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
}

.start-page>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}

.start-page>button {
  width: 12rem;
  height: 3.25rem;
  background: #4D5B9E;
  border-radius: 1rem;
  border: 0px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.quiz-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  justify-content: center;
  height: 100vh;
  padding: 1em 7em;
}

.quiz-footer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: .75em;
  line-height: 1em;
  text-align: center;
  color: #293264;
}

.quiz-footer>button {
  background: #4D5B9E;
  border-radius: 1rem;
  border: 0px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  padding: 1.5em;
  line-height: .75em;
}

.question {
  display: flex;
  flex-direction: column;
  gap: .7em;
  padding: 0 1em 0.5em 1em;
}

.question>h1 {
  margin: 0;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #293264;
}

.question>hr {
  border: .2px solid #DBDEF0;
  width: 100%;
  margin: .7em 0em;
}

.question--answer {
  height: 2em;
  border: 1.3px solid #4D5B9E;
  border-radius: .7em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: .7em;
  line-height: .75em;
  text-align: center;
  color: #293264;
  min-width: 7em;
  padding: 0em 1em;
}

.question--answer_selected {
  border: 1px solid #D6DBF5;
  background-color: #D6DBF5;
}

.question--answer_selected-incorrect {
  border: 1px solid #D6DBF5;
  background-color: #F8BCBC;
  color: #293264;
}

.question--answer_selected-correct {
  border: 1px solid #D6DBF5;
  background-color: #94D7A2;
  color: #293264;
}

.question--answer-group {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}
